body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#disk {
    background-color: rgb(14, 124, 226);
    border-color: black;
    border-style: solid;
    border-width: 5px;
    height: 75vh;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin:auto;
    inset: 0;
}

#needle {
    border-radius: 50%;
    transform: rotate(90deg);
    position: absolute;
    inset: 0;
    margin: auto;
}

#star {
    position: absolute;
    left: 314px;
}

@media (max-width:1000px) {
    #disk {
        width: 80vw;
        height: auto;
    }
}